.childrenContainer{
    margin-left: 280px;
    margin-right: 30px;
    max-height: 100vh;
    transition: all .5s ease-in;
}


.menuCloseContainer{
    margin-left: 30px;
    margin-top: 65px;
}

childrenContainer::-webkit-scrollbar{
    width: 0px;
}

@media(max-width:400px){
    .childrenContainer{
        margin-left: 0;
        margin-right: 0;
    }
}